@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

div {
    margin: 0 auto;
}

img {
    border: 0;
}

ul, li {
    list-style: none;
}

/**
div,ul,li,dl,dt,dd,table,td,input {
	font-size: 12px;
}
**/

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 12px;
}

a {
    color: #666666;
    text-decoration: none;
    outline: none;
}

a:active {
    star: expression(this . onFocus = this . blur() );
}

a:hover {
    color: #f60;
    outline: none;
}

i, em {
    font-style: normal;
}

.Fb {
    font-weight: bold;
}

.fl, .fl-img {
    float: left;
}

.fr {
    float: right;
}

.mat10 {
    margin-top: 10px;
}

.mab10 {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.wrap {
    width: 980px;
    margin: 0 auto;
}

.Current_nav {
    width: 980px;
    font-size: 12px;
    color: #bbb;
    font-family: 宋体;
    height: 25px;
    margin: 0 auto;
}

.Current_nav span {
    font-family: 宋体;
}

.Current_nav a {
    color: #bbb;
}

.Current_nav a:hover {
    color: #f60;
}

.white {
    color: #fff;
}

.red {
    color: #f00;
}

a.red:hover {
    text-decoration: underline;
    color: #f00;
}

.orange {
    color: #f60;
}

.blue {
    color: #2af;
}

a.blue:hover {
    text-decoration: underline;
    color: #2af;
}

.green {
    color: #3b0;
}

.red {
    color: #F00;
}

.gray {
    color: #333;
}

.gray01 {
    color: #666;
}

.gray02 {
    color: #999;
}

.gray03 {
    color: #bbb;
}

.tips-con i, .rmbred, .rmbgray, .rmbwhite {
    background: url(/Images/PublicIcon.png) no-repeat;
}

.rmbred {
    background-position: 0 -49px;
    background-repeat: no-repeat;
    padding-left: 10px;
}

.rmbgray {
    background-position: 0 -3px;
    background-repeat: no-repeat;
    padding-left: 10px;
}

.rmbwhite {
    background-position: 0 -25px;
    background-repeat: no-repeat;
    padding-left: 10px;
}

.tips-con {
    text-align: center;
    color: #999;
    margin: 30px 0;
}

.tips-con i {
    width: 17px;
    height: 17px;
    background-position: 0 -75px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: -4px;
    vertical-align: -4px \9;
    _vertical-align: -2px;
}

.header:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.header {
    background: #fff;
    zoom: 1;
    position: relative;
    z-index: 21;
}

.head_top, .head_mid_bg, .nav_center {
    margin: auto;
    font-size: 12px;
}

.site_top {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #E6E6E6;
    background-color: #F7F7F7;
    box-shadow: 0 1px 0 #F7F7F7;
}

.site_top .head_top {
    width: 980px;
    height: 25px;
}

.head_top .collect {
    float: left;
    padding-top: 4px;
    margin-right: 10px;
}

.head_top .collect a {
    background-position: 0 -13px;
    padding: 3px 0 0 15px;
    background-repeat: no-repeat;
    float: left;
    color: #666;
}

.head_top .collect a:hover {
    color: #f60;
}

.head_top .Ht-qqicon {
    float: left;
    margin-top: 7px;
    color: #666;
    background: url(/Images/topqun.gif) 0 4px no-repeat;
    padding-right: 45px;
}

.login_info {
    display: none;
    float: right;
}

.login_info li {
    float: left;
    display: inline;
    margin-top: 6px;
    margin-top: 5px \0;
}

.gray_info a, .gray_info a:visited, .Ht-qqicon a, .Ht-qqicon a:visited {
    color: #666;
    padding-left: 15px;
}

.gray_info a:hover, .Ht-qqicon a:hover {
    color: #f60;
}

#sCartTotal {
    font-family: Arial, Helvetica, sans-serif;
}

.nav_class {
    width: 978px;
    height: 33px;
    background: #fff;
    border: 1px solid #DCDCDC;
    border-top: none;
    margin: 0 auto 10px;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 2px #D3D3D3;
}

.nav_class ul:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.nav_class ul {
    padding-left: 10px;
    zoom: 1;
}

.nav_class li {
    float: left;
    height: 33px;
    font-size: 14px;
    font-family: 微软雅黑, 宋体;
    color: #888;
}

.nav_class li a {
    color: #888;
    padding: 4px 17px 5px 17px;
    padding: 5px 17px 4px 17px \9;
    _padding: 7px 17px 5px 17px;
    display: inline-block;
}

.nav_class li a:hover {
    color: #f60;
}

.mycart_list {
    width: 250px;
    border: 1px solid #2AF;
    position: absolute;
    z-index: 10;
    top: 35px;
    *top: 35px;
    _top: 35px;
    right: 0;
    background: #fff;
}

.mycart_list dl {
    width: 230px;
    padding: 10px 10px 8px 10px;
    height: 62px;
    border-bottom: 1px solid #EFEFEF;
    position: relative;
}

.mycart_list dl.mycartcur {
    background: #F4F4F4;
}

.mycart_list dl dd, .mycart_list dl dt {
    float: left;
    padding: 0;
    background: none;
}

.mycart_list dl dt {
    width: 58px;
    height: 58px;
    padding: 0 10px 0 0;
}

.mycart_list dl dt a, .mycart_list dl dt a img, .mycart_list dl dt a:hover {
    width: 58px;
    height: 58px;
    display: block;
    border: 0;
    color: #555;
    padding: 0;
    background: none;
}

.mycart_list dl dt a img {
    border: 1px solid #EFEFEF;
}

.mycart_list dl dd.title {
    width: 145px;
    float: left;
}

.mycart_list dl dd.title em {
    color: #999;
    font-family: 宋体;
}

.mycart_list dl dd.title a {
    width: 145px;
    height: 40px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    color: #555;
    padding: 0;
    background: none;
}

.head_nav .nav_center .mycart_list dl dd.title a:hover {
    color: #f60;
    text-decoration: underline;
}

.mycart_list dl dd.title span {
    color: #f60;
    line-height: 20px;
}

.mycart_list dl dd.del {
    margin-top: 0;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.mycart_list dl dd.del a {
    color: #ccc;
    font-weight: normal;
    font-size: 12px;
    padding: 0;
    background: none;
}

.mycart_list dl dd.del a:hover {
    color: #f60;
    text-decoration: underline;
}

.mycart_list p {
    padding: 5px 8px 10px 0;
    text-align: right;
    color: #999;
}

.mycart_list p span {
    color: #f60;
}

.mycart_list h3 {
    height: 30px;
    padding-right: 8px;
    padding-bottom: 13px;
}

.mycart_list h3 input {
    width: 120px;
    text-align: center;
    color: #fff;
    display: block;
    border: none;
    cursor: pointer;
    font-family: 微软雅黑;
    font-size: 14px;
    background: #f60;
    border-radius: 3px;
    float: right;
    padding: 3px 0 5px;
    _padding: 3px 0 2px;
}

.footer_line, .ft-fwrx-tel, .ft-fwrx-service a, .service-promise li a, .Service_Time p, .Service_Fund P, .ft-weixin dt span, .ft-weixin-img s {
    background: url(/Images/footerimg.png);
}

.footer_content {
    background: #fff;
    overflow: hidden;
    zoom: 1;
    clear: both;
    margin-top: 10px;
}

.footer_line {
    height: 8px;
    font-size: 0;
    line-height: 0;
    background-position: 0 0;
}

.footservice {
    width: 980px;
    height: 185px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    clear: both;
}

.footer_content .service-promise {
    width: 948px;
    padding-left: 30px;
    border: 1px solid #E8E8E8;
    margin: 0 auto;
    height: 46px;
    background: #fff;
}

.footer_content .service-promise ul {
    float: left;
}

.footer_content .service-promise li {
    float: left;
    display: block;
    height: 43px;
}

.footer_content .service-promise .service-promise-border-r0 a {
    margin-right: 0;
}

.sp-fair a, .sp-wares a, .sp-free-delivery a, .sp-business a {
    height: 21px;
    display: inline-block;
    margin: 13px 90px 0 0;
}

.footer_content .service-promise .sp-fair a {
    background-position: 0 -65px;
    width: 145px;
}

.footer_content .service-promise .sp-wares a {
    background-position: 0 -89px;
    width: 144px;
}

.footer_content .service-promise .sp-free-delivery a {
    background-position: 0 -113px;
    width: 134px;
}

.footer_content .service-promise .sp-business a {
    background-position: 0 -137px;
    width: 230px;
}

.footer_content .service-promise .sp-fair a span, .footer_content .service-promise .sp-wares a span, .footer_content .service-promise .sp-free-delivery a span, .footer_content .service-promise .sp-business a span {
    display: none;
}

.footservice .support {
    width: 980px;
    margin: 15px 0;
    overflow: hidden;
    zoom: 1;
}

.footservice .support dl {
    float: left;
    width: 183px;
    border-right: 1px solid #F3F3F3;
}

.footservice .support dt {
    height: 20px;
    margin-bottom: 6px;
    overflow: hidden;
    margin-top: 4px;
}

.footservice .support dt span {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.footservice .support .ft-newbie, .footservice .support .ft-ygjj, .footservice .support .ft-delivery, .footservice .support .ft-wares {
    width: 125px;
    height: 154px;
    margin-right: 30px;
}

.footservice .support .ft-fwrx {
    width: 180px;
    margin-right: 30px;
    height: 154px;
}

.footservice .support .ft-fwrx .ft-fwrx-tel {
    background-position: 0 -41px;
    height: 16px;
    _height: 15px;
    margin-top: 10px;
    overflow: hidden;
}

.footservice .support .ft-fwrx .ft-fwrx-tel i {
    display: none;
}

.footservice .support .ft-fwrx .ft-fwrx-service a {
    background-position: 0 -10px;
    width: 109px;
    height: 24px;
    _height: 23px;
    display: block;
    text-indent: -999em;
}

.footservice .support .ft-fwrx .ft-fwrx-time {
    color: #9F9F9F;
    line-height: 20px;
    height: 22px;
    _height: 21px;
}

.footservice .support dd {
    height: 22px;
    padding: 2px 0 0 0;
    _padding: 3px 0 0 0;
    overflow: hidden;
}

.footservice .support dd.ft-fwrx-service {
    height: 60px;
    color: #9F9F9F;
}

.footservice .support dd.ft-fwrx-service .ft-qqicon {
    height: 20px;
    display: block;
    background: url(/Images/topqun.gif) 0 4px no-repeat;
    padding-left: 15px;
}

.footservice .support dd.ft-fwrx-service .ft-qqgroup {
    display: block;
    font-size: 12px;
    font-family: Arial;
}

.footservice .support dd b {
    width: 3px;
    height: 3px;
    font-size: 0;
    line-height: 0;
    background: #CACACA;
    vertical-align: 3px;
    display: inline-block;
    margin-right: 5px;
}

.footservice a, .footer a:link, .footer a:visited {
    color: #9F9F9F;
}

.footservice a:hover, .footer a:hover {
    color: #f60;
    text-decoration: underline;
}

.service_date {
    width: 253px;
    margin: 18px auto 6px;
    text-align: center;
    height: 48px;
    color: #fff;
}

.service_date .Service_Time {
    width: 99px;
    padding: 5px 0 0 15px;
    height: 43px;
    text-align: left;
    background: #F60;
    border-radius: 2px;
    display: block;
    float: left;
    margin: 0 3px;
}

.service_date .Service_Time p {
    height: 16px;
    line-height: 15px;
    background-position: -215px -15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.service_date .Service_Time span {
    font-size: 20px;
    line-height: 24px;
}

.service_date .Service_Fund a {
    width: 105px;
    padding: 5px 10px 0 15px;
    _display: inline;
    height: 43px;
    text-align: left;
    background: #3B0;
    border-radius: 2px;
    display: block;
    float: left;
    color: #fff;
}

.service_date .Service_Fund p {
    height: 16px;
    line-height: 15px;
    background-position: -215px -40px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.service_date .Service_Fund span {
    font-size: 20px;
    line-height: 24px;
}

.service_date .Service_Fund i {
    font-size: 12px;
    padding-left: 5px;
    line-height: 20px;
}

.footservice .support .ft-weixin {
    width: 140px;
    overflow: hidden;
    border-right: none;
}

.footservice .support .ft-weixin dt span {
    background-position: -104px -168px;
    padding-left: 25px;
    margin-left: 5px;
}

.footservice .support .ft-weixin dd.ft-weixin-img {
    width: 125px;
    height: 96px;
    text-align: center;
    margin-bottom: 2px;
}

.footservice .support .ft-weixin dd.ft-weixin-img s {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    display: inline-block;
    background-position: 0 -165px;
}

.footer {
    width: 100%;
    text-align: center;
    clear: both;
    padding: 20px 0 10px 0;
    font: 12px/ 1.5 Tahoma, Arial, "宋体", Helvetica, sans-serif;
    color: #333;
    background: #fff;
}

.footer .footer_links {
    text-align: center;
}

.footer .footer_links a {
    width: 70px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.footer .footer_links b {
    height: 11px;
    width: 1px;
    background: #E4E4E4;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    margin-top: 4px;
    *+margin-top: 2px;
    margin-top: 4px \9;
    margin-left: -3px;
}

.footer a {
    text-align: center;
    line-height: 16px;
    line-height: 18px \9;
}

.footer .footer_links .footer_links_nonebj a {
    text-align: center;
    border-left: none;
    width: 50px;
}

.copyright {
    text-align: center;
    color: #9F9F9F;
    margin: 0 auto 15px auto;
    padding: 5px 0 0 0;
    clear: both;
    font-family: Arial, "宋体";
}

.footer_icon {
    margin: 0 auto 0 auto;
    height: 30px;
}

.footer_icon li {
    width: 90px;
    height: 30px;
    margin: 0 0 0 10px;
    float: left;
}

.footer_icon li a {
    width: 90px;
    height: 30px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
}

.footer_icon li.fi_315online span {
    display: none;
}

.footer_icon .fi_pingan, .footer_icon .fi_alipay, .footer_icon .fi_cnnic, .footer_icon .fi_315online, .footer_icon .fi_ectrustchina {
    background: url(/Images/footer.png) transparent scroll 0 0 no-repeat;
}

.footer_icon .fi_ectrustchina {
    background-position: 0 -220px;
}

.footer_icon .fi_315online {
    background-position: 0 -250px;
}

.footer_icon .fi_cnnic {
    background-position: 0 -280px;
}

.footer_icon .fi_pingan {
    background-position: 0 -310px;
}

.footer_icon .fi_alipay {
    background-position: 0 -340px;
}