.member {
    width: 980px
}

.member .location {
    width: 980px;
    height: 25px
}

.member .location p {
    float: left;
    color: #999
}

.member .location h3 {
    float: right;
    color: #f00
}

.member_center {
    width: 980px;
    border-bottom: 1px solid #cfe7f7;
    background: url(/Images/member_line.png) repeat-y
}

.member_center .member_left {
    width: 175px;
    float: left;
    border-top: 1px solid #cfe7f7
}

.member_center .member_left h2 {
    width: 142px;
    height: 21px;
    margin: 10px auto;
    background: url(/Images/member.png) 0 0;
    text-indent: -9999px
}

.member_center .member_left ul {
    width: 175px
}

.member_center .member_left ul li a {
    width: 173px;
    height: 34px;
    line-height: 34px;
    display: block;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #373737
}

.member_center .member_left ul li a:hover {
    color: #f60
}

.member_center .member_left ul li {
    width: 173px;
    padding: 0 1px;
    float: left
}

.member_center .member_left ul li a {
    text-align: left;
    text-indent: 30px;
    background: url(/Images/arrow_button.png) no-repeat -160px -235px;
    *background: url(/Images/arrow_button.png) no-repeat -160px -236px;
    _background: url(/Images/arrow_button.png) no-repeat -160px -234px
}

.member_center .member_left ul li.member_border {
    height: 10px;
    display: block;
    background: url(/Images/member_left_line.png) no-repeat left center;
    *background: url(/Images/member_left_line.png) no-repeat left 23%;
    _background: url(/Images/member_left_line.png) no-repeat left 20%;
    overflow: hidden
}

.member_center .member_left ul li.click {
    background: url(/Images/member.png) 0 -30px
}

.member_center .member_left ul li.click a {
    color: #fff;
    font-weight: bold;
    background: 0
}

.member_center .member_left ul li.click a:hover {
    color: #fff;
    text-decoration: none
}

.member_center .member_service {
    width: 159px;
    padding: 5px 0 0 16px;
    clear: both
}

.member_center .member_service dl dt, .member_center .member_service dl dd {
    width: 159px;
    display: block;
    padding: 5px 0 0 0
}

.member_center .member_service dl dt a {
    background: url(/Images/kf.gif) repeat scroll 0 0 transparent;
    color: #FFF;
    display: block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    text-indent: 15px;
    width: 88px
}

.member_center .member_service dl dd.tel {
    font-size: 20px;
    font-family: arial;
    color: #f60;
    display: block;
    float: right;
    padding: 0
}

.member_center .member_right {
    width: 804px;
    min-height: 550px;
    float: right;
    border-top: 1px solid #60a5d6;
    border-bottom: 1px solid #60a5d6;
    border-right: 1px solid #60a5d6;
    margin: 0 0 -1px 0
}

.member_center .member_right .notFound {
    width: 774px;
    padding-top: 50px;
    text-align: center;
    color: #666;
    float: left;
    height: 15px;
    overflow: hidden
}

.member_center .member_right .member_right_main {
    width: 804px;
    min-height: 550px;
    _height: 549px;
    clear: both;
    _border-bottom: 1px solid #60a5d6
}

.member_center .member_right .member_right_main h3 {
    width: 784px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 14px;
    color: #0d78bc;
    font-weight: bold;
    background: #f3faff
}

.member_center .member_right .inquiry {
    width: 774px;
    padding: 0 0 0 10px;
    color: #666
}

.member_center .member_right .inquiry, .member_center .member_right .inquiry div.sel, .member_center .member_right .inquiry div.time {
    float: left
}

.member_center .member_right .inquiry div.sel {
    padding: 6px 10px 0 0;
    *padding: 4px 10px 0 0;
    _padding: 6px 10px 0 0
}

.member_center .member_right .inquiry select {
    width: 90px;
    color: #666
}

.member_center .member_right .inquiry div.time {
    display: none
}

.member_center .member_right .inquiry div.time div {
    float: left
}

.member_center .member_right .inquiry div.time input.time_small, .member_center .member_right .inquiry div.time input.time_big {
    width: 110px;
    height: 23px;
    line-height: 23px;
    border: 0;
    border: 1px solid #ebebeb
}

.member_center .member_right .inquiry input.ok {
    width: 52px;
    height: 25px;
    line-height: 25px;
    display: block;
    border: 0;
    background: url(/Images/arrow_button.png) -74px -230px;
    float: left;
    margin: 0 0 0 5px;
    cursor: pointer
}

.member_center .member_right .inquiry p.text {
    float: left;
    line-height: 28px;
    padding: 0 0 0 10px
}

.member_center .member_right .inquiry p.text span {
    color: #f60
}

.member_center .member_right .inquiry p.text a {
    color: #1070c4
}

.member_center .member_right .inquiry p.text a:hover {
    color: #f60
}

.page_nav {
    width: 700px;
    overflow: hidden;
    padding: 30px 0 0 0
}

.page_nav ul.pageUL {
    float: right;
    padding: 20px 5px 0 0
}

.page_nav ul.pageUL li {
    float: left;
    list-style: none outside none;
    text-align: center;
    margin: 0 5px
}

.page_nav li {
    float: left;
    margin: 0;
    list-style: none outside none;
    text-align: center
}

.page_nav li.total_page {
    color: #333;
    padding-right: 20px;
    line-height: 38px
}

.page_nav li.total_page i {
    color: #F00;
    font-style: normal
}

.page_nav li.curr_page {
    width: 25px;
    display: block;
    height: 25px;
    line-height: 25px;
    background-color: #ffede1;
    color: #f50;
    font-weight: bold;
    border: 1px solid #fd6d01
}

.page_nav li a {
    width: 25px;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: center;
    border: 1px solid #dedede
}

.page_nav li a:hover {
    color: #fd6d01;
    display: block;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    border: 1px solid #fd6d01;
    text-decoration: none
}

.page_nav li.prev_page a {
    background: url(/Images/arrow_button.png) -171px -13px no-repeat;
    width: 46px;
    padding-right: 10px;
    white-space: nowrap;
    text-indent: 12px;
    display: block
}

.page_nav li.next_page a {
    background: url(/Images/arrow_button.png) right 5px no-repeat;
    width: 46px;
    padding: 0 10px 0 0;
    white-space: nowrap
}